.main-color {
  color: rgb(237, 105, 66);
}
.number-of-chats {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #edf2f7;
}
.number-of-chats span {
  font-size: 18px;
  width: 100%;
  height: 100%;
}
.chat-time-added {
  font-size: 12px;
}
.new-chat-icon {
  width: 25px;
  height: 25px;
}
.custom-icon {
  background-color: inherit !important;
}

.comment {
  font-size: 12px;
}

.img-comment {
  width: 100%;
  height: 100%;
  border-radius: 20%;
}

.chat-img-container {
  width: 60px;
  height: 60px;
}
